body {
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}

#graph {
	display: inline-block;
	width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	padding: 50px 0px;

	&.blur {
		@include blur-grey(2px, 40%);
	}
}

.text-wrapper {
	position: absolute;
	width: 600px;
	color: black;
	background-color: #e5e5e5;
	opacity: 0.8;
	right: -600px;
	font-weight: 900;
	padding: 20px;
	box-sizing: border-box;
	@include transition-any(all, 0.8s, ease-in-out);

	&.active {
		z-index: 101;
		height: 200px;
		width: 400px;
		overflow: hidden;
		border: 1px solid #000;
	}
}

.text-wrapper.active {
	right: 0px;
}

@media (max-width: 720px) {
	.navigation {
		width: 100%;
		height: 50px;
		background-color: $blue;
		padding: $mobile-padding;
		box-sizing: border-box;
	}
	
	.text-wrapper {
		width: 100%;
		padding: 20px !important;
		left: 100%;
		top: 25px;
		overflow: hidden;
		box-sizing: border-box;
		@include transition-any(left, 0.8s, ease-in-out);		

		&.active {
			width: calc(100vw - 90px);
			height: 360px !important;
			box-sizing: content-box;
			overflow: scroll;
		}
	}
	.section {
		padding: $mobile-padding;
		box-sizing: border-box;

		&.why { background-color: $yellow; }
		&.find-out-more { background-color: $blue; }
		&.about { background-color: $white; }
	}

	.contributor {
		display: inline-block;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.about-pic {
		display: inline-block;
		background-color: green;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		float: left;
		margin-right: 5px;
	}

	.about-content {
		display: inline;
	}
}

