/* Mixins */
@mixin transition-any($type, $time, $style) {
  -webkit-transition: $type $time $style;
     -moz-transition: $type $time $style;
       -o-transition: $type $time $style;
          transition: $type $time $style;
}
@mixin transition-fade() {
  -webkit-transition: opacity 0.10s ease-in-out;
     -moz-transition: opacity 0.10s ease-in-out;
       -o-transition: opacity 0.10s ease-in-out;
          transition: opacity 0.10s ease-in-out;
}

@mixin modal-drop-shadow($color, $opacity) {
	-webkit-box-shadow: 0px 0px 4px 0px rgba($color, $opacity);
		 -moz-box-shadow: 0px 0px 4px 0px rgba($color, $opacity);
					box-shadow: 0px 0px 4px 0px rgba($color, $opacity);
}
