/* Colors */
$black: #2B2822;
$blue: #53B2BD;
$red: #E15E5F;
$yellow: #FFAD22;
$tan: #FEE9DC;
$white: #FFFAF0;

$black-light: #626160;
$blue-light: #80C7D2;
$red-light: #E8898D;
$yellow-light: #FFC360;
$tan-light: #FEF0E9;
$white-light: #FFFDF8;

$black-dark: #1C1208;
$blue-dark: #3E888C;
$red-dark: #B7413B;
$yellow-dark: #D18308;
$tan-dark: #D0B7A6;
$white-dark: #D1C5B7;

$font-body: "Roboto";
$font-header: "Montserrat";

/* Padding margins */
$mobile-padding: 20px;
$navigation-height: 50px;



/**
 * main header
 */
$header-spacing: 10px 30px;

/**
 * section spacing
 */
$section-header-spacing: 24px 30px;
$section-content-spacing: 36px 30px;
$section-content-between: 24px;
$section-content-between-small: 12px;


/**
 * z-index layers:
 * These layers are used to provide specific layers for different sections of
 * the page so that layers don't overlap unexpectedly
 */
$header-layer: 5000;
$graph-layer: 3000;
$section-layer: 2000;
$footer-layer: 4000;

/**
 * These are references to layers within the layer groups. They are applied via
 * the calc function: calc($header-layer + $layer1)
 * @type {Number}
 */
$layer1: 000;
$layer2: 100;
$layer3: 200;
$layer4: 300;
$layer5: 400;
$layer6: 500;
$layer7: 600;
$layer8: 700;
$layer9: 800;
$layer10: 900;