.profile {

	width: 100%;
	margin-bottom: 24px;
	text-align: center;

	&__image {
		display: inline-block;			
		border-radius: 50%;
		width: 25%;
		height: auto;
	}

	&__content {
		display: inline-block;
		vertical-align: top;
		width: 68%;
	}

	&__text {
		text-align: left;
	}

	&__header {
		font-family: $font-header;
		text-align: left;		
		font-size: 26px !important;
		font-weight: bold;
		margin-bottom: 3px;
	}

	&__subheader {
		text-align: left;
		font-style: italic;
		margin-bottom: 12px;
	}

	&:last-child{
		margin-bottom: 0px;
	}


}	

@media (min-width: 768px) {
	.profile {
		width: 32%;
		margin-bottom: 0;

		&__image {
			width: 200px;
			height: 200px;
			display: block;
			margin: 0 auto;
		}

		&__content {
			width: 100%;
		}
	}
}