.section {

	// definitions for section block and modifiers
	& {
		background-color: $white;
		padding: 0;				// make variable
		margin: 0;

		&_red {
			background-color: $red;
		}

		&_yellow {
			background-color: $yellow;
		}

		&_blue {
			background-color: $blue; 
		}
	}


	// definition for the section head and modifiers
	&__header {
		font-family: "Montserrat";
		text-align: center;
		background-color: $white-light;
		border-bottom: 2px solid $white-dark;
		padding: $section-header-spacing;

		&_red {
			background-color: $red-light;
			border-bottom: 2px solid $red-dark;
		}

		&_blue{
			background-color: $blue-light;
			border-bottom: 2px solid $blue-dark; 
		}

		&_yellow {
			background-color: $yellow-light;
			border-bottom: 2px solid $yellow-dark;
		}
	}
	
	&__description {
		max-width: 1000px;
		padding: 30px;
		padding-bottom: 0;
		margin: 0 auto;
	}
	// definitions for section content and modifiers
	&__content {
		margin: 0 auto;
		max-width: 960px;
		padding: $section-content-spacing;
		display: block;

		
		// &__image {
		// 	font-size: 160px !important;
		// 	width: 100%;
		// 	text-align: center;
		// // 	&__profile {
		// // 		border-radius: 50%;
		// // 		width: 200px;
		// // 		height: 200px;
		// // 	}
		// }
		// &__header {
		// 	text-align: center;
		// 	font-size: 26px !important;
		// 	margin: 10px 0px;
		// }
		// &__text {
		// 	text-align: left;
		// }
	}
}

@media (min-width: 768px) {
	.section {
		&__content {
			display: flex;
			justify-content: space-between;
			// &__container {
			// 	width: 32%;
			// 	display: inline-block;
			// 	box-sizing:border-box;
			// 	margin: 0;
			// }
		}
	}
}

