.section {

	// definitions for section block and modifiers
	& {
		background-color: $white;
		padding: 0;				// make variable
		margin: 0;

		&_red {
			background-color: $red;
		}

		&_yellow {
			background-color: $yellow;
		}

		&_blue {
			background-color: $blue; 
		}
	}


	// definition for the section head and modifiers
	&__header {
		font-family: "Montserrat";
		text-align: center;
		background-color: $white-light;
		border-bottom: 2px solid $white-dark;
		padding-top: 24px;
		padding-bottom: 24px;

		&_red {
			background-color: $red-light;
			border-bottom: 2px solid $red-dark;
		}

		&_blue{
			background-color: $blue-light;
			border-bottom: 2px solid $blue-dark; 
		}

		&_yellow {
			background-color: $yellow-light;
			border-bottom: 2px solid $yellow-dark;
		}
	}

	// definitions for section content and modifiers
	&__content {
		margin: 0 auto;
		max-width: 1000px;
		padding: 30px;
	}

}

.navigation {
	padding: 10px;
	overflow: hidden;
	border-bottom: 2px solid $blue-dark;
	color: white;
	
	
	&__title {
		float: left;
		display: inline-block;
	}

	&__list {
		list-style-type: none;
		top: 48px;
		width: 100%;
		position: absolute;
		margin: 0 !important;
		left: 0;
 
		&__element {
			float: none;
			font-family: $font-header;
			font-size: 18px;
			text-transform: uppercase;
			text-align: center;
			background-color: $blue-dark;
			-webkit-margin-before: 0em;
			-webkit-margin-after: 0em;
			padding: 10px 0px;
			border-bottom: 1px solid $blue;
		}
	}

	&__icon {
		visibility: visible;
		width: 20px;
		height: 20px;
		float: right;
		display: inline-block;
	}
}

@media (min-width: 768px) {
	
	.navigation {

		&__list {
			float: right;
			display: inline-block;
			position: static;
			width: auto;
		
			&__element {
				display: inline-block;
				text-align: initial;
				background-color: transparent;
				padding: 0px 0px 0px 10px;
			}
		}

		&__icon {
			visibility: hidden;
		}
	}
}

