@charset "UTF-8";
/* Colors */
/* Padding margins */
/**
 * Device Widths
 * these should be used for media queries
 */
/**
 * main header
 */
/**
 * section spacing
 */
/**
 * z-index layers:
 * These layers are used to provide specific layers for different sections of
 * the page so that layers don't overlap unexpectedly
 */
/**
 * These are references to layers within the layer groups. They are applied via
 * the calc function: calc($header-layer + $layer1)
 * @type {Number}
 */
/* Mixins */
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

#graph {
  display: inline-block;
  width: 100%;
  overflow: auto;
  height: 420px;
  z-index: -2;
  overflow-x: scroll;
  overflow-y: auto;
  z-index: -2;
  margin-top: 66px;
}

.graph {
  width: calc(100% + 500px) !important;
}

.graphModal {
  position: relative;
  margin-top: -130px;
  left: 100%;
  height: 0;
  width: 0;
  box-sizing: border-box;
  opacity: 0;
  overflow: hidden;
  top: 0 !important;
  opacity: 0.85;
  color: white;
  background-color: black;
  -webkit-transition: opacity 0.10s ease-in-out;
  -moz-transition: opacity 0.10s ease-in-out;
  -o-transition: opacity 0.10s ease-in-out;
  transition: opacity 0.10s ease-in-out;
}
.graphModal_active {
  width: calc(100vw - 80px);
  max-width: 300px;
  height: 360px;
  box-sizing: content-box;
  height: 360px;
  overflow: visible;
}
.graphModal__svg {
  height: 200px;
  width: 200px;
  position: absolute;
  overflow: visible;
}
.graphModal__content {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
}
.graphModal__circle {
  z-index: 6000;
}
.graphModal__header {
  font-family: "Montserrat";
}
.graphModal__p {
  font-size: 16px;
  font-family: "Roboto";
  margin: 20px 0px;
}
.graphModal__p__author {
  font-size: 12px;
  margin: 0;
}

@media (min-width: 768px) {
  .graphModal_active {
    width: 300px;
  }
}
* {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Roboto";
}

.header {
  position: relative;
  max-height: 79px;
  width: 100%;
  z-index: 5000;
}

.titlebar {
  background-color: #53B2BD;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  border-bottom: 2px solid #3E888C;
  color: white;
  position: absolute;
  z-index: 5100;
}
.titlebar__header {
  padding: 20px;
  float: left;
  display: inline-block;
}

.section__row {
  width: 100%;
  display: block;
}
.section {
  background-color: #FFFAF0;
  padding: 0;
  margin: 0;
}
.section_red {
  background-color: #E15E5F;
}
.section_yellow {
  background-color: #FFAD22;
}
.section_blue {
  background-color: #53B2BD;
}
.section__header {
  font-family: "Montserrat";
  text-align: center;
  background-color: #FFFDF8;
  border-bottom: 2px solid #D1C5B7;
  padding: 24px 30px;
}
.section__header_red {
  background-color: #E8898D;
  border-bottom: 2px solid #B7413B;
}
.section__header_blue {
  background-color: #80C7D2;
  border-bottom: 2px solid #3E888C;
}
.section__header_yellow {
  background-color: #FFC360;
  border-bottom: 2px solid #D18308;
}
.section__description {
  max-width: 1000px;
  padding: 30px;
  padding-bottom: 0;
  margin: 0 auto;
}
.section__content {
  margin: 0 auto;
  max-width: 960px;
  padding: 36px 30px;
  display: block;
}

@media (min-width: 768px) {
  .section__row {
    display: flex;
  }
  .section__content {
    display: flex;
    justify-content: space-between;
  }
  .section__content__badge {
    display: block;
  }
}
.grouping {
  width: 100%;
  margin-bottom: 24px;
  text-align: center;
}
.grouping:last-child {
  margin-bottom: 0px;
}
.grouping__image {
  font-size: 160px !important;
  max-height: 200px;
  width: auto;
  text-align: center;
}
.grouping__image--profile {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.grouping__header {
  text-align: center;
  font-size: 26px !important;
  margin: 10px 0px;
}
.grouping__text {
  margin-top: 12px;
  text-align: left;
}

@media (min-width: 768px) {
  .grouping {
    width: 32%;
    margin-bottom: 0;
  }
  .grouping__image {
    display: block;
    margin: 0 auto;
  }
}
.badge {
  text-align: center;
  margin-bottom: 24px;
  padding: 30px;
  display: block;
  color: #2B2822;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
}
.badge:hover {
  cursor: pointer;
}
.badge_blue {
  background-color: #80C7D2;
  -webkit-box-shadow: 0px 0px 4px 0px #3e888c;
  -moz-box-shadow: 0px 0px 4px 0px #3e888c;
  box-shadow: 0px 0px 4px 0px #3e888c;
}
.badge_blue:hover {
  background-color: #93cfd9;
}
.badge_red {
  background-color: #E8898D;
  -webkit-box-shadow: 0px 0px 4px 0px #b7413b;
  -moz-box-shadow: 0px 0px 4px 0px #b7413b;
  box-shadow: 0px 0px 4px 0px #b7413b;
}
.badge_red:hover {
  background-color: #ec9ea2;
}
.badge_yellow {
  background-color: #FFC360;
  -webkit-box-shadow: 0px 0px 4px 0px #d18308;
  -moz-box-shadow: 0px 0px 4px 0px #d18308;
  box-shadow: 0px 0px 4px 0px #d18308;
}
.badge_yellow:hover {
  background-color: #ffcd7a;
}
.badge__image {
  font-size: 160px !important;
  max-height: 50px;
  max-width: 100%;
  text-align: center;
  box-sizing: border-box;
}
.badge__header {
  text-align: center;
  font-size: 26px !important;
  margin: 10px 0px;
}
.badge__content {
  text-align: left;
  clear: left;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .badge {
    margin-right: 12px;
    width: 32%;
    display: inline-block;
    float: left;
  }
}

.navigation {
  overflow: visible;
  max-height: 79px;
}
.navigation__list {
  padding: 0px;
  z-index: 5000;
  list-style-type: none;
  top: -120px;
  width: 100%;
  position: relative;
  margin: 0 !important;
  left: 0;
  -webkit-transition: top 1.2s ease-in-out;
  -moz-transition: top 1.2s ease-in-out;
  -o-transition: top 1.2s ease-in-out;
  transition: top 1.2s ease-in-out;
}
.navigation__list_active {
  top: 78px;
}
.navigation__list__element {
  float: none;
  font-family: "Montserrat";
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: #3E888C;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  border-bottom: 1px solid #53B2BD;
}
.navigation__list__element:hover {
  background-color: #46999e;
  cursor: pointer;
}
.navigation__link {
  display: inline-block;
  padding: 10px 0px;
  width: 100%;
}
.navigation__icon {
  padding: 20px;
  visibility: visible;
  float: right;
  display: inline-block;
  line-height: 37px !important;
  font-size: 26px !important;
}
.navigation__icon:hover, .navigation__icon_active {
  background-color: #3E888C;
}
.navigation__link {
  text-decoration: none;
  color: white;
}

@media (min-width: 768px) {
  .navigation__list {
    float: right;
    display: inline-block;
    position: relative;
    z-index: 5200;
    top: auto;
    left: auto;
    width: auto;
  }
  .navigation__list__element {
    display: inline-block;
    text-align: initial;
    background-color: transparent;
    padding: 10px 10px 10px 10px;
    line-height: 36px;
  }
  .navigation__icon {
    visibility: hidden;
  }
}
.searchIcon {
  padding: 20px;
  font-size: 26px !important;
  z-index: -1;
  box-sizing: border-box;
  position: absolute;
  z-index: 3100;
  margin-top: -66px;
}
.searchIcon_active {
  opacity: 0.3;
}

.searchModal {
  position: absolute;
  max-width: 320px;
  width: calc(100vw - 40px);
  height: 320px;
  padding: 20px;
  margin-left: calc(50vw - 150px);
  box-sizing: border-box;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  background-color: white;
  z-index: 5;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(98, 97, 96, 0.5);
  -moz-box-shadow: 0px 0px 4px 0px rgba(98, 97, 96, 0.5);
  box-shadow: 0px 0px 4px 0px rgba(98, 97, 96, 0.5);
  -webkit-transition: opacity 0.10s ease-in-out;
  -moz-transition: opacity 0.10s ease-in-out;
  -o-transition: opacity 0.10s ease-in-out;
  transition: opacity 0.10s ease-in-out;
}
.searchModal_active {
  visibility: visible;
  opacity: 1;
}
.searchModal__help {
  float: right;
  opacity: 0.3;
}
.searchModal__header {
  display: inline-block;
}
.searchModal__fields {
  width: calc(100% - 40px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.searchModal__fields__section {
  display: flex;
  flex-direction: row;
}
.searchModal__fields__icon {
  font-size: 20px !important;
  padding-right: 3px;
}
.searchModal__fields__text {
  border-width: 0 0 2px 0;
  font-style: italic;
  flex-grow: 1;
  outline: none;
}
.searchModal__submit {
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
}
.searchModal__submit__button {
  background-color: #53B2BD;
  font-size: 16px;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.searchModal__submit__error {
  color: red;
  font-style: italic;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
}
.footer__content {
  color: white;
  line-height: 50px;
  font-size: 12px;
}

@font-face {
  font-family: 'octicons';
  src: url("./media/fonts/IconFonts/octicons/octicons.eot?#iefix&v=396334ee3da78f4302d25c758ae3e3ce5dc3c97d") format("embedded-opentype"), url("./media/fonts/IconFonts/octicons/octicons.woff?v=396334ee3da78f4302d25c758ae3e3ce5dc3c97d") format("woff"), url("./media/fonts/IconFonts/octicons/octicons.ttf?v=396334ee3da78f4302d25c758ae3e3ce5dc3c97d") format("truetype"), url("./media/fonts/IconFonts/octicons/octicons.svg?v=396334ee3da78f4302d25c758ae3e3ce5dc3c97d#octicons") format("svg");
  font-weight: normal;
  font-style: normal;
}
.octicon, .mega-octicon {
  font: normal normal normal 16px/1 octicons;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mega-octicon {
  font-size: 32px;
}

.octicon-alert:before {
  content: '\f02d';
}

/* ∩Ç¡ */
.octicon-arrow-down:before {
  content: '\f03f';
}

/* ∩Ç┐ */
.octicon-arrow-left:before {
  content: '\f040';
}

/* ∩üÇ */
.octicon-arrow-right:before {
  content: '\f03e';
}

/* ∩Ç╛ */
.octicon-arrow-small-down:before {
  content: '\f0a0';
}

/* ∩éá */
.octicon-arrow-small-left:before {
  content: '\f0a1';
}

/* ∩éí */
.octicon-arrow-small-right:before {
  content: '\f071';
}

/* ∩ü▒ */
.octicon-arrow-small-up:before {
  content: '\f09f';
}

/* ∩éƒ */
.octicon-arrow-up:before {
  content: '\f03d';
}

/* ∩Ç╜ */
.octicon-microscope:before,
.octicon-beaker:before {
  content: '\f0dd';
}

/* ∩â¥ */
.octicon-bell:before {
  content: '\f0de';
}

/* ∩â₧ */
.octicon-book:before {
  content: '\f007';
}

/* ∩Çç */
.octicon-bookmark:before {
  content: '\f07b';
}

/* ∩ü╗ */
.octicon-briefcase:before {
  content: '\f0d3';
}

/* ∩âô */
.octicon-broadcast:before {
  content: '\f048';
}

/* ∩üê */
.octicon-browser:before {
  content: '\f0c5';
}

/* ∩âà */
.octicon-bug:before {
  content: '\f091';
}

/* ∩éæ */
.octicon-calendar:before {
  content: '\f068';
}

/* ∩ü¿ */
.octicon-check:before {
  content: '\f03a';
}

/* ∩Ç║ */
.octicon-checklist:before {
  content: '\f076';
}

/* ∩ü╢ */
.octicon-chevron-down:before {
  content: '\f0a3';
}

/* ∩éú */
.octicon-chevron-left:before {
  content: '\f0a4';
}

/* ∩éñ */
.octicon-chevron-right:before {
  content: '\f078';
}

/* ∩ü╕ */
.octicon-chevron-up:before {
  content: '\f0a2';
}

/* ∩éó */
.octicon-circle-slash:before {
  content: '\f084';
}

/* ∩éä */
.octicon-circuit-board:before {
  content: '\f0d6';
}

/* ∩âû */
.octicon-clippy:before {
  content: '\f035';
}

/* ∩Ç╡ */
.octicon-clock:before {
  content: '\f046';
}

/* ∩üå */
.octicon-cloud-download:before {
  content: '\f00b';
}

/* ∩Çï */
.octicon-cloud-upload:before {
  content: '\f00c';
}

/* ∩Çî */
.octicon-code:before {
  content: '\f05f';
}

/* ∩üƒ */
.octicon-color-mode:before {
  content: '\f065';
}

/* ∩üÑ */
.octicon-comment-add:before,
.octicon-comment:before {
  content: '\f02b';
}

/* ∩Ç½ */
.octicon-comment-discussion:before {
  content: '\f04f';
}

/* ∩üÅ */
.octicon-credit-card:before {
  content: '\f045';
}

/* ∩üà */
.octicon-dash:before {
  content: '\f0ca';
}

/* ∩âè */
.octicon-dashboard:before {
  content: '\f07d';
}

/* ∩ü╜ */
.octicon-database:before {
  content: '\f096';
}

/* ∩éû */
.octicon-clone:before,
.octicon-desktop-download:before {
  content: '\f0dc';
}

/* ∩â£ */
.octicon-device-camera:before {
  content: '\f056';
}

/* ∩üû */
.octicon-device-camera-video:before {
  content: '\f057';
}

/* ∩üù */
.octicon-device-desktop:before {
  content: '\f27c';
}

/* ∩ë╝ */
.octicon-device-mobile:before {
  content: '\f038';
}

/* ∩Ç╕ */
.octicon-diff:before {
  content: '\f04d';
}

/* ∩üì */
.octicon-diff-added:before {
  content: '\f06b';
}

/* ∩ü½ */
.octicon-diff-ignored:before {
  content: '\f099';
}

/* ∩éÖ */
.octicon-diff-modified:before {
  content: '\f06d';
}

/* ∩ü¡ */
.octicon-diff-removed:before {
  content: '\f06c';
}

/* ∩ü¼ */
.octicon-diff-renamed:before {
  content: '\f06e';
}

/* ∩ü« */
.octicon-ellipsis:before {
  content: '\f09a';
}

/* ∩éÜ */
.octicon-eye-unwatch:before,
.octicon-eye-watch:before,
.octicon-eye:before {
  content: '\f04e';
}

/* ∩üÄ */
.octicon-file-binary:before {
  content: '\f094';
}

/* ∩éö */
.octicon-file-code:before {
  content: '\f010';
}

/* ∩ÇÉ */
.octicon-file-directory:before {
  content: '\f016';
}

/* ∩Çû */
.octicon-file-media:before {
  content: '\f012';
}

/* ∩ÇÆ */
.octicon-file-pdf:before {
  content: '\f014';
}

/* ∩Çö */
.octicon-file-submodule:before {
  content: '\f017';
}

/* ∩Çù */
.octicon-file-symlink-directory:before {
  content: '\f0b1';
}

/* ∩é▒ */
.octicon-file-symlink-file:before {
  content: '\f0b0';
}

/* ∩é░ */
.octicon-file-text:before {
  content: '\f011';
}

/* ∩Çæ */
.octicon-file-zip:before {
  content: '\f013';
}

/* ∩Çô */
.octicon-flame:before {
  content: '\f0d2';
}

/* ∩âÆ */
.octicon-fold:before {
  content: '\f0cc';
}

/* ∩âî */
.octicon-gear:before {
  content: '\f02f';
}

/* ∩Ç» */
.octicon-gift:before {
  content: '\f042';
}

/* ∩üé */
.octicon-gist:before {
  content: '\f00e';
}

/* ∩ÇÄ */
.octicon-gist-secret:before {
  content: '\f08c';
}

/* ∩éî */
.octicon-git-branch-create:before,
.octicon-git-branch-delete:before,
.octicon-git-branch:before {
  content: '\f020';
}

/* ∩Çá */
.octicon-git-commit:before {
  content: '\f01f';
}

/* ∩Çƒ */
.octicon-git-compare:before {
  content: '\f0ac';
}

/* ∩é¼ */
.octicon-git-merge:before {
  content: '\f023';
}

/* ∩Çú */
.octicon-git-pull-request-abandoned:before,
.octicon-git-pull-request:before {
  content: '\f009';
}

/* ∩Çë */
.octicon-globe:before {
  content: '\f0b6';
}

/* ∩é╢ */
.octicon-graph:before {
  content: '\f043';
}

/* ∩üâ */
.octicon-heart:before {
  content: '\2665';
}

/* ΓÖÑ */
.octicon-history:before {
  content: '\f07e';
}

/* ∩ü╛ */
.octicon-home:before {
  content: '\f08d';
}

/* ∩éì */
.octicon-horizontal-rule:before {
  content: '\f070';
}

/* ∩ü░ */
.octicon-hubot:before {
  content: '\f09d';
}

/* ∩é¥ */
.octicon-inbox:before {
  content: '\f0cf';
}

/* ∩âÅ */
.octicon-info:before {
  content: '\f059';
}

/* ∩üÖ */
.octicon-issue-closed:before {
  content: '\f028';
}

/* ∩Ç¿ */
.octicon-issue-opened:before {
  content: '\f026';
}

/* ∩Çª */
.octicon-issue-reopened:before {
  content: '\f027';
}

/* ∩Çº */
.octicon-jersey:before {
  content: '\f019';
}

/* ∩ÇÖ */
.octicon-key:before {
  content: '\f049';
}

/* ∩üë */
.octicon-keyboard:before {
  content: '\f00d';
}

/* ∩Çì */
.octicon-law:before {
  content: '\f0d8';
}

/* ∩âÿ */
.octicon-light-bulb:before {
  content: '\f000';
}

/* ∩ÇÇ */
.octicon-link:before {
  content: '\f05c';
}

/* ∩ü£ */
.octicon-link-external:before {
  content: '\f07f';
}

/* ∩ü┐ */
.octicon-list-ordered:before {
  content: '\f062';
}

/* ∩üó */
.octicon-list-unordered:before {
  content: '\f061';
}

/* ∩üí */
.octicon-location:before {
  content: '\f060';
}

/* ∩üá */
.octicon-gist-private:before,
.octicon-mirror-private:before,
.octicon-git-fork-private:before,
.octicon-lock:before {
  content: '\f06a';
}

/* ∩ü¬ */
.octicon-logo-github:before {
  content: '\f092';
}

/* ∩éÆ */
.octicon-mail:before {
  content: '\f03b';
}

/* ∩Ç╗ */
.octicon-mail-read:before {
  content: '\f03c';
}

/* ∩Ç╝ */
.octicon-mail-reply:before {
  content: '\f051';
}

/* ∩üæ */
.octicon-mark-github:before {
  content: '\f00a';
}

/* ∩Çè */
.octicon-markdown:before {
  content: '\f0c9';
}

/* ∩âë */
.octicon-megaphone:before {
  content: '\f077';
}

/* ∩ü╖ */
.octicon-mention:before {
  content: '\f0be';
}

/* ∩é╛ */
.octicon-milestone:before {
  content: '\f075';
}

/* ∩ü╡ */
.octicon-mirror-public:before,
.octicon-mirror:before {
  content: '\f024';
}

/* ∩Çñ */
.octicon-mortar-board:before {
  content: '\f0d7';
}

/* ∩âù */
.octicon-mute:before {
  content: '\f080';
}

/* ∩éÇ */
.octicon-no-newline:before {
  content: '\f09c';
}

/* ∩é£ */
.octicon-octoface:before {
  content: '\f008';
}

/* ∩Çê */
.octicon-organization:before {
  content: '\f037';
}

/* ∩Ç╖ */
.octicon-package:before {
  content: '\f0c4';
}

/* ∩âä */
.octicon-paintcan:before {
  content: '\f0d1';
}

/* ∩âæ */
.octicon-pencil:before {
  content: '\f058';
}

/* ∩üÿ */
.octicon-person-add:before,
.octicon-person-follow:before,
.octicon-person:before {
  content: '\f018';
}

/* ∩Çÿ */
.octicon-pin:before {
  content: '\f041';
}

/* ∩üü */
.octicon-plug:before {
  content: '\f0d4';
}

/* ∩âö */
.octicon-repo-create:before,
.octicon-gist-new:before,
.octicon-file-directory-create:before,
.octicon-file-add:before,
.octicon-plus:before {
  content: '\f05d';
}

/* ∩ü¥ */
.octicon-primitive-dot:before {
  content: '\f052';
}

/* ∩üÆ */
.octicon-primitive-square:before {
  content: '\f053';
}

/* ∩üô */
.octicon-pulse:before {
  content: '\f085';
}

/* ∩éà */
.octicon-question:before {
  content: '\f02c';
}

/* ∩Ç¼ */
.octicon-quote:before {
  content: '\f063';
}

/* ∩üú */
.octicon-radio-tower:before {
  content: '\f030';
}

/* ∩Ç░ */
.octicon-repo-delete:before,
.octicon-repo:before {
  content: '\f001';
}

/* ∩Çü */
.octicon-repo-clone:before {
  content: '\f04c';
}

/* ∩üî */
.octicon-repo-force-push:before {
  content: '\f04a';
}

/* ∩üè */
.octicon-gist-fork:before,
.octicon-repo-forked:before {
  content: '\f002';
}

/* ∩Çé */
.octicon-repo-pull:before {
  content: '\f006';
}

/* ∩Çå */
.octicon-repo-push:before {
  content: '\f005';
}

/* ∩Çà */
.octicon-rocket:before {
  content: '\f033';
}

/* ∩Ç│ */
.octicon-rss:before {
  content: '\f034';
}

/* ∩Ç┤ */
.octicon-ruby:before {
  content: '\f047';
}

/* ∩üç */
.octicon-screen-full:before {
  content: '\f066';
}

/* ∩üª */
.octicon-screen-normal:before {
  content: '\f067';
}

/* ∩üº */
.octicon-search-save:before,
.octicon-search:before {
  content: '\f02e';
}

/* ∩Ç« */
.octicon-server:before {
  content: '\f097';
}

/* ∩éù */
.octicon-settings:before {
  content: '\f07c';
}

/* ∩ü╝ */
.octicon-shield:before {
  content: '\f0e1';
}

/* ∩âí */
.octicon-log-in:before,
.octicon-sign-in:before {
  content: '\f036';
}

/* ∩Ç╢ */
.octicon-log-out:before,
.octicon-sign-out:before {
  content: '\f032';
}

/* ∩Ç▓ */
.octicon-squirrel:before {
  content: '\f0b2';
}

/* ∩é▓ */
.octicon-star-add:before,
.octicon-star-delete:before,
.octicon-star:before {
  content: '\f02a';
}

/* ∩Ç¬ */
.octicon-stop:before {
  content: '\f08f';
}

/* ∩éÅ */
.octicon-repo-sync:before,
.octicon-sync:before {
  content: '\f087';
}

/* ∩éç */
.octicon-tag-remove:before,
.octicon-tag-add:before,
.octicon-tag:before {
  content: '\f015';
}

/* ∩Çò */
.octicon-telescope:before {
  content: '\f088';
}

/* ∩éê */
.octicon-terminal:before {
  content: '\f0c8';
}

/* ∩âê */
.octicon-three-bars:before {
  content: '\f05e';
}

/* ∩ü₧ */
.octicon-thumbsdown:before {
  content: '\f0db';
}

/* ∩â¢ */
.octicon-thumbsup:before {
  content: '\f0da';
}

/* ∩âÜ */
.octicon-tools:before {
  content: '\f031';
}

/* ∩Ç▒ */
.octicon-trashcan:before {
  content: '\f0d0';
}

/* ∩âÉ */
.octicon-triangle-down:before {
  content: '\f05b';
}

/* ∩ü¢ */
.octicon-triangle-left:before {
  content: '\f044';
}

/* ∩üä */
.octicon-triangle-right:before {
  content: '\f05a';
}

/* ∩üÜ */
.octicon-triangle-up:before {
  content: '\f0aa';
}

/* ∩é¬ */
.octicon-unfold:before {
  content: '\f039';
}

/* ∩Ç╣ */
.octicon-unmute:before {
  content: '\f0ba';
}

/* ∩é║ */
.octicon-versions:before {
  content: '\f064';
}

/* ∩üñ */
.octicon-watch:before {
  content: '\f0e0';
}

/* ∩âá */
.octicon-remove-close:before,
.octicon-x:before {
  content: '\f081';
}

/* ∩éü */
.octicon-zap:before {
  content: '\26A1';
}

/* ΓÜí */
/**
 * Montserrat
 */
@font-face {
  font-family: 'Montserrat';
  src: url("media/fonts/Montserrat/montserrat-bold-webfont.eot");
  src: url("media/fonts/Montserrat/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("media/fonts/Montserrat/montserrat-bold-webfont.woff2") format("woff2"), url("media/fonts/Montserrat/montserrat-bold-webfont.woff") format("woff"), url("media/fonts/Montserrat/montserrat-bold-webfont.ttf") format("truetype"), url("media/fonts/Montserrat/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("media/fonts/Montserrat/montserrat-regular-webfont.eot");
  src: url("media/fonts/Montserrat/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("media/fonts/Montserrat/montserrat-regular-webfont.woff2") format("woff2"), url("media/fonts/Montserrat/montserrat-regular-webfont.woff") format("woff"), url("media/fonts/Montserrat/montserrat-regular-webfont.ttf") format("truetype"), url("media/fonts/Montserrat/montserrat-regular-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/**
 * Roboto
 */
@font-face {
  font-family: 'Roboto';
  src: url("media/fonts/Roboto/roboto-regular-webfont.eot");
  src: url("media/fonts/Roboto/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("media/fonts/Roboto/roboto-regular-webfont.woff2") format("woff2"), url("media/fonts/Roboto/roboto-regular-webfont.woff") format("woff"), url("media/fonts/Roboto/roboto-regular-webfont.ttf") format("truetype"), url("media/fonts/Roboto/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("media/fonts/Roboto/roboto-italic-webfont.eot");
  src: url("media/fonts/Roboto/roboto-italic-webfont.eot?#iefix") format("embedded-opentype"), url("media/fonts/Roboto/roboto-italic-webfont.woff2") format("woff2"), url("media/fonts/Roboto/roboto-italic-webfont.woff") format("woff"), url("media/fonts/Roboto/roboto-italic-webfont.ttf") format("truetype"), url("media/fonts/Roboto/roboto-italic-webfont.svg#robotoitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

/*# sourceMappingURL=main.css.map */
