.badge {
	text-align:center;
	margin-bottom: 24px;
	padding: 30px;
	display: block;
	color: $black;
	text-decoration: none;
	width: 100%;
	box-sizing:border-box;

	&:hover {
		cursor: pointer;
	}

	&_blue {
		background-color: $blue-light;
		@include modal-drop-shadow($blue-dark, 1);
		&:hover {
			background-color: lighten($blue-light, 5%);
		}
	}

	&_red {
		background-color: $red-light;
		@include modal-drop-shadow($red-dark, 1);
		&:hover {
			background-color: lighten($red-light, 5%);
		}
	}

	&_yellow {
		background-color: $yellow-light;
		@include modal-drop-shadow($yellow-dark, 1);
		&:hover {
			background-color: lighten($yellow-light, 5%);
		}
	}


	&__image {
		font-size: 160px !important;
		max-height: 50px;
		max-width: 100%;
		text-align: center;
		box-sizing: border-box;

		&__wrapper {
			white-space: nowrap;
		}
	}

	&__header {
		text-align: center;
		font-size: 26px !important;
		margin: 10px 0px;
	}


	&__content {
		text-align: left;
		clear:left;
		padding-top: 10px;
	}

	@media (min-width: $tablet-width) {
		margin-right: 12px;
		width: 32%;
		display: inline-block;
		float: left;
	}
		
}