//$octicons-font-path: "." !default;
$octicons-font-path: "./media/fonts/IconFonts/octicons";
$octicons-version:   "396334ee3da78f4302d25c758ae3e3ce5dc3c97d";

@font-face {
  font-family: 'octicons';
  src: url('#{$octicons-font-path}/octicons.eot?#iefix&v=#{$octicons-version}') format('embedded-opentype'),
       url('#{$octicons-font-path}/octicons.woff?v=#{$octicons-version}') format('woff'),
       url('#{$octicons-font-path}/octicons.ttf?v=#{$octicons-version}') format('truetype'),
       url('#{$octicons-font-path}/octicons.svg?v=#{$octicons-version}#octicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

// .octicon is optimized for 16px.
// .mega-octicon is optimized for 32px but can be used larger.
.octicon, .mega-octicon {
  font: normal normal normal 16px/1 octicons;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mega-octicon { font-size: 32px; }

.octicon-search-save:before,
.octicon-search:before { content: '\f02e'} /*  */
.octicon-three-bars:before { content: '\f05e'} /*  */