body {
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}

#graph {
	display: inline-block;
	width: 100%;
	overflow: auto;
	//min-height: calc(100vh - 100px);
	height: 420px;
	z-index: -2;
	overflow-x: scroll;
	overflow-y: auto;
	//height: calc(100vh - 100px);
	z-index: -2; //behind the mobile drop down menu
}
.graph {
	//height: 150%;
	
	width: calc(100% + 500px) !important;
}
.graphModal {
	position: absolute;
	top: $navigation-height + 10px !important; 
	left: 100%;
	height: 0;
	width: 0;
	box-sizing: border-box;
	opacity: 0;
	overflow: hidden;
	
	opacity: 0.85;
	color: white;
	background-color: black;
	@include transition-fade();	

	&_active {
		width: calc(100vw - 80px);
		max-width: 300px;
		height: 360px;
		box-sizing: content-box;
		left: 20px !important;
		height: 360px;
		overflow: visible;
	}
	&__svg {
		height: 200px;
		width: 200px;
		position:absolute;
		overflow: visible;
	}
	&__content {
		overflow-y: scroll;
		overflow-x: hidden;
		padding: 20px;
		height: 100%;
		box-sizing: border-box;
	}
	&__circle {
		z-index:6000;
	}

	&__header {
			font-family: $font-header;
	}

	&__p {
		font-size: 16px;
		font-family: $font-body;
		margin: 20px 0px;

		&__author{
			font-size: 12px;
			margin: 0;
		}
	}
}





@media (min-width: 768px) {
	.graphModal {
		&_active {
			width: 300px;
		}
	}
}



