.searchIcon {
	padding: 20px;
	font-size: 26px !important;
	z-index: -1;
	box-sizing: border-box;
	position: absolute;
	z-index: $graph-layer + $layer2;
	margin-top: -66px;
	&_active {
		opacity: 0.3;
	}
}

.searchModal {
	position: absolute;
	max-width: 320px;
	width: calc(100vw - 40px);
	min-height: 320px;
	padding: 20px;
	margin-left: calc(50vw - 150px);
	box-sizing: border-box;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
	background-color: white;
	z-index: 5;
	@include modal-drop-shadow($black-light, .5);
	@include transition-fade();

	&_active {
		visibility:visible;
		opacity: 1;
	}
	&__help {
		float: right;
		opacity: 0.3;
	}

	&__header {
		display: inline-block;
	}

	&__fields {
		width: calc(100% - 40px);
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	
		&__section {
			display: flex;
			flex-direction: row;
		}

		&__icon {
			font-size: 20px !important;
			padding-right: 3px;
		}

		&__text {
			border-width: 0 0 2px 0;
			font-style: italic;
			flex-grow: 1;
			outline: none;
		}
	}
	&__submit {
		position:absolute;
		bottom: 0;
		padding-bottom: 20px;
		width: calc(100% - 40px);
		display: flex;
		justify-content:space-between;

		&__button{
			background-color: $blue;
			font-size: 16px;
			padding: 10px 20px;
			color: white;
			border: none;
			border-radius: 0px;
			-webkit-appearance: none;
			-moz-appearance: none;
		}
		&__error {
			color: red;
			font-style: italic;
		}
	}

	&__link {
		float: left;
		line-height: 32px;
		vertical-align: middle;
		&:link, &:hover, &:active, &:visited {
			color: #53B2BD;
			font-size: 12px;
			text-decoration: none;
			font-style: italic;
		}
		&--right {
			float: right;
		}
	}

	&__image {
		width: 100%;
		height: auto;
		margin-bottom: 12px;
		border: 1px solid black;
	}

	&__close {
		display: inline-block;
		float: right;
		color: $black-light;

		&:hover {
			color: $black;
		}
	}

	&__body {
		font-size: 13px;
		line-height: 20px;
		margin-bottom: 12px;
	}

	&__top {
		height: 32px;
		width: 100%;
	}

	&__contents {
		animation: fadeIn .2s ease;
	}

	&__loading {
		animation: rotate 1s linear infinite;
	}

}