.footer {
	width: 100%;
	background-color: black;
	text-align: center;

	&__content {
		color: white;
		line-height: 50px;
		font-size: 12px;

    .legalese {
      color: lightgray;
      line-height: 12px;
      font-size: 8px;
      padding: 0 2em 1em 2em;

      a:link, a:visited, a:hover, a:active {
        color: white;
      }
    }
	}
}